In [2]:
import pandas as pd
import numpy as np
from glob import glob

In [19]:
#get list of all data files
data_files = sorted(glob('processed_data/*.csv'))
data_files

['processed_data\\202103-tripdata_v1.csv',
 'processed_data\\202104-tripdata_v1.csv',
 'processed_data\\202105-tripdata_v1.csv',
 'processed_data\\202106-tripdata_v1.csv',
 'processed_data\\202107-tripdata_v1.csv',
 'processed_data\\202108-tripdata_v1.csv',
 'processed_data\\202109-tripdata_v1.csv',
 'processed_data\\202110-tripdata_v1.csv',
 'processed_data\\202111-tripdata_v1.csv',
 'processed_data\\202112-tripdata_v1.csv',
 'processed_data\\202201-tripdata_v1.csv',
 'processed_data\\202202-tripdata_v1.csv',
 'processed_data\\202203-tripdata_v1.csv',
 'processed_data\\data_merged.csv']

In [24]:
#merge datafiles
data = pd.concat((pd.read_csv(file) for file in data_files), ignore_index=True)

C:\Users\Azhar\miniconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:2: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.

C:\Users\Azhar\miniconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:2: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.

C:\Users\Azhar\miniconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:2: DtypeWarning: Columns (8,9) have mixed types.Specify dtype option on import or set low_memory=False.

In [25]:
data.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'end_station_name', 'member_casual',
       'day_of_week', 'start_station_id', 'end_station_id', 'Unnamed: 10',
       'station_id', 'Unnamed: 11', 'Unnamed: 12'],
      dtype='object')

In [26]:
df = data.drop(['Unnamed: 10', 'Unnamed: 11', 'station_id', 'Unnamed: 12'], axis=1)
df.head(5)

,ride_id,rideable_type,started_at,ended_at,start_station_name,end_station_name,member_casual,day_of_week,start_station_id,end_station_id
0,CFA86D4455AA1030,classic_bike,3/16/2021 8:32,3/16/2021 8:36,Humboldt Blvd & Armitage Ave,Stave St & Armitage Ave,casual,3,15651.0,13266.0
1,30D9DC61227D1AF3,classic_bike,3/28/2021 1:26,3/28/2021 1:36,Humboldt Blvd & Armitage Ave,Central Park Ave & Bloomingdale Ave,casual,1,15651.0,18017.0
2,846D87A15682A284,classic_bike,3/11/2021 21:17,3/11/2021 21:33,Shields Ave & 28th Pl,Halsted St & 35th St,casual,5,15443.0,13080.0
3,994D05AA75A168F2,classic_bike,3/11/2021 13:26,3/11/2021 13:55,Winthrop Ave & Lawrence Ave,Broadway & Sheridan Rd,casual,5,13080.0,13323.0
4,DF7464FBE92D8308,classic_bike,3/21/2021 9:09,3/21/2021 9:27,Glenwood Ave & Touhy Ave,Chicago Ave & Sheridan Rd,casual,1,525.0,8.0

In [28]:
#save merged dataset
df.to_csv('processed_data/data_merged.csv', index=False)

## Data Cleaning and Feature Engineering

In [34]:
# read merged data
df_merged =  pd.read_csv('processed_data/data_merged.csv')
df_merged.head()

C:\Users\Azhar\miniconda3\envs\dev\lib\site-packages\IPython\core\interactiveshell.py:3170: DtypeWarning: Columns (8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ride_id,rideable_type,started_at,ended_at,start_station_name,end_station_name,member_casual,day_of_week,start_station_id,end_station_id
0,CFA86D4455AA1030,classic_bike,3/16/2021 8:32,3/16/2021 8:36,Humboldt Blvd & Armitage Ave,Stave St & Armitage Ave,casual,3,15651.0,13266.0
1,30D9DC61227D1AF3,classic_bike,3/28/2021 1:26,3/28/2021 1:36,Humboldt Blvd & Armitage Ave,Central Park Ave & Bloomingdale Ave,casual,1,15651.0,18017.0
2,846D87A15682A284,classic_bike,3/11/2021 21:17,3/11/2021 21:33,Shields Ave & 28th Pl,Halsted St & 35th St,casual,5,15443.0,13080.0
3,994D05AA75A168F2,classic_bike,3/11/2021 13:26,3/11/2021 13:55,Winthrop Ave & Lawrence Ave,Broadway & Sheridan Rd,casual,5,13080.0,13323.0
4,DF7464FBE92D8308,classic_bike,3/21/2021 9:09,3/21/2021 9:27,Glenwood Ave & Touhy Ave,Chicago Ave & Sheridan Rd,casual,1,525.0,8.0

In [35]:
df_merged.dtypes

ride_id               object
rideable_type         object
started_at            object
ended_at              object
start_station_name    object
end_station_name      object
member_casual         object
day_of_week            int64
start_station_id      object
end_station_id        object
dtype: object

### Change data types

In [37]:
df_merged['day_of_week'] = pd.to_numeric(df_merged.day_of_week)
df_merged['started_at'] = pd.to_datetime(df_merged['started_at'], infer_datetime_format=True)
df_merged['ended_at'] = pd.to_datetime(df_merged['ended_at'], infer_datetime_format=True)
df_merged['ride_duration'] = df_merged.ended_at - df_merged.started_at

In [38]:
df_merged.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,end_station_name,member_casual,day_of_week,start_station_id,end_station_id,ride_duration
0,CFA86D4455AA1030,classic_bike,2021-03-16 08:32:00,2021-03-16 08:36:00,Humboldt Blvd & Armitage Ave,Stave St & Armitage Ave,casual,3,15651.0,13266.0,0 days 00:04:00
1,30D9DC61227D1AF3,classic_bike,2021-03-28 01:26:00,2021-03-28 01:36:00,Humboldt Blvd & Armitage Ave,Central Park Ave & Bloomingdale Ave,casual,1,15651.0,18017.0,0 days 00:10:00
2,846D87A15682A284,classic_bike,2021-03-11 21:17:00,2021-03-11 21:33:00,Shields Ave & 28th Pl,Halsted St & 35th St,casual,5,15443.0,13080.0,0 days 00:16:00
3,994D05AA75A168F2,classic_bike,2021-03-11 13:26:00,2021-03-11 13:55:00,Winthrop Ave & Lawrence Ave,Broadway & Sheridan Rd,casual,5,13080.0,13323.0,0 days 00:29:00
4,DF7464FBE92D8308,classic_bike,2021-03-21 09:09:00,2021-03-21 09:27:00,Glenwood Ave & Touhy Ave,Chicago Ave & Sheridan Rd,casual,1,525.0,8.0,0 days 00:18:00

In [39]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048574 entries, 0 to 1048573
Data columns (total 11 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   ride_id             1048574 non-null  object
 1   rideable_type       1048574 non-null  object
 2   started_at          1048574 non-null  datetime64[ns]
 3   ended_at            1048574 non-null  datetime64[ns]
 4   start_station_name  997114 non-null   object
 5   end_station_name    992488 non-null   object
 6   member_casual       1048574 non-null  object
 7   day_of_week         1048574 non-null  int64
 8   start_station_id    993398 non-null   object
 9   end_station_id      988710 non-null   object
 10  ride_duration       1048574 non-null  timedelta64[ns]
dtypes: datetime64[ns](2), int64(1), object(7), timedelta64[ns](1)
memory usage: 88.0+ MB

In [40]:
df_merged.shape

(1048574, 11)

#### Data Cleaning

In [41]:
# filter for negative ride_duraton
df_merged.drop(df_merged[df_merged['ended_at'] < df_merged['started_at']].index, inplace=True)

In [42]:
df_merged.shape

(1048572, 11)

In [43]:
# Percentage of missing Values 
missing_values = [(c, df_merged[c].isna().mean()*100) for c in df]
missing_values = pd.DataFrame(missing_values, columns=["column_name", "percentage"])
missing_values

          column_name  percentage
0             ride_id    0.000000
1       rideable_type    0.000000
2          started_at    0.000000
3            ended_at    0.000000
4  start_station_name    4.907531
5    end_station_name    5.348703
6       member_casual    0.000000
7         day_of_week    0.000000
8    start_station_id    5.261918
9      end_station_id    5.709002

In [44]:
df_merged.isnull().sum()

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name    51459
end_station_name      56085
member_casual             0
day_of_week               0
start_station_id      55175
end_station_id        59863
ride_duration             0
dtype: int64

In [45]:
df_merged.dropna(inplace=True)

In [46]:
df_merged.isnull().sum()

ride_id               0
rideable_type         0
started_at            0
ended_at              0
start_station_name    0
end_station_name      0
member_casual         0
day_of_week           0
start_station_id      0
end_station_id        0
ride_duration         0
dtype: int64

In [48]:
#identify duplicate rows
duplicateRows = df_merged[df_merged.duplicated()]
duplicateRows

Empty DataFrame
Columns: [ride_id, rideable_type, started_at, ended_at, start_station_name, end_station_name, member_casual, day_of_week, start_station_id, end_station_id, ride_duration]
Index: []

No Duplicates

In [49]:
#save cleaned dataset
df_merged.to_csv('processed_data/data_cleaned.csv', index=False)